# Copy to `server/.env.development`

PUBLIC_SITE_URL=https://twquantus.netlify.app
PUBLIC_API_URL=https://t-w-quantus.onrender.com

MONGODB_URI=mongodb+srv://USER:PASS@cluster.example.mongodb.net/
MONGODB_DB_NAME=TW-Quantus

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_EMAIL=twquantus2025@gmail.com
ADMIN_PASSWORD=TW-Quantus
ADMIN_JWT_SECRET=

# NEWS_API_KEY=
PING_MESSAGE=ping
